<main>
    <div class="yzy">
        <h2>История Yeezy</h2>
        <p>
            Yeezy — концептуальная линия кроссовок, созданная adidas совместно с продюсером, рэп-исполнителем и дизайнером Канье
            Уэстом. Разработанные с применением продвинутых технологий adidas, кроссовки Yeezy отличаются уникальным дизайном,
            производятся в ограниченных количествах и продаются исключительно в лучших магазинах мира.
        </p>
        <div class="yzy-img">
            <h3> Одни из лучших работ </h3>
            {{#each yzy}}
                <div>
                    <h3>{{name}}</h3>
                    <img src="/img/yzy{{id}}.png">
                </div>
            {{/each}}
        </div>
    </div>
</main>