main {
    margin: 5vh 10vw;
}

.img {
    display: flex;
    justify-content: center;
    height: 70vh;
    margin-bottom: 5vh;
}

.bio p {
    font-size: 25px;
    margin: 10px;
}

.kanye {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kanye img {
    height: 50vh;
    margin: 0 5vh;
}
